<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="Tp_Web.MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Articulos</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/bootstrap.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="Default.aspx"">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="PaginaPrincipal.aspx"">Articulos</a>
                            <a class="nav-link active" aria-current="page" href="ListadoArticulos.aspx"">Listado Articulos</a>
                            <div class="text-end">
                                <a class="nav-link active" aria-current="page" href="ListadoArticulos.aspx"">Carrito de compras
                                    <img src="https://static.vecteezy.com/system/resources/previews/009/759/668/non_2x/eps10-white-shopping-cart-line-icon-isolated-on-black-background-trolley-outline-symbol-in-a-simple-flat-trendy-modern-style-for-your-website-design-logo-pictogram-and-mobile-application-vector.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container-fluid">
                <hr />
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </form>
</body>
</html>
